<div class="jumbotron">
	<ul class="list-group" id="rules">
	  <li class="list-group-item">Once two players join a given room, the game will start</li>
	  <li class="list-group-item">Players take turns selecting two cards</li>
	  <li class="list-group-item">First player to match all wards wins</li>
	</ul>
</div>