<script src="/js/socket.io/socket.io.js"></script>
<script type="text/javascript">
    username = '{{username}}';
    console.log(username);
</script>
<script src="/js/gameUI.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>

<div class="jumbotron game-jumbo">
    <div class="container">
    <div class="row card-row">
        <div class="card col-xs-3"><div class='card-contents'></div></div>
        <div class="card col-xs-3"><div class='card-contents'></div></div>
        <div class="card col-xs-3"><div class='card-contents'></div></div>
        <div class="card col-xs-3"><div class='card-contents'></div></div>
    </div>
    <div class="row card-row">
        <div class="card col-xs-3"><div class='card-contents'></div></div>
        <div class="card col-xs-3"><div class='card-contents'></div></div>
        <div class="card col-xs-3"><div class='card-contents'></div></div>
        <div class="card col-xs-3"><div class='card-contents'></div></div>
    </div>
    <div class="row card-row">
        <div class="card col-xs-3"><div class='card-contents'></div></div>
        <div class="card col-xs-3"><div class='card-contents'></div></div>
        <div class="card col-xs-3"><div class='card-contents'></div></div>
        <div class="card col-xs-3"><div class='card-contents'></div></div>
    </div>
    <div class="row card-row">
        <div class="card col-xs-3"><div class='card-contents'></div></div>
        <div class="card col-xs-3"><div class='card-contents'></div></div>
        <div class="card col-xs-3"><div class='card-contents'></div></div>
        <div class="card col-xs-3"><div class='card-contents'></div></div>
    </div>
    </div>
    <div class="row status-row">
        <div class='panel' id="status"></div>
    </div>
</div>

<body data-spy="scroll" data-target=".navbar" data-offset="50">
    <ul class="list-group" id="messagesBox"></ul>
</body>

    <div class="form-inline">
        <div class="form-group">
          <!-- <label for="messageInput">Message Input:</label> -->
          <div>
            <input type="text" class="form-control" id="messageInput" placeholder="Enter Message">
            <button id="messageButton" class="btn btn-default" type="submit">Submit</button>
        </div>
    </div>


  


<div>{{username}}</div>
<!-- <div>{{test_username}}</div> -->