      <div class="jumbotron">
        <h1>Jumbotron heading</h1>
        <p class="lead">test</p>
        <p><a class="btn btn-lg btn-success" href="users/register" role="button">Register</a></p>
        <p><a class="btn btn-lg btn-success" href="users/login" role="button">Login</a></p>
      </div>